/* footer section */
.credit-section {
  color: rgb(18, 18, 18);
  background-color: hsl(193, 100%, 98%);
  position: fixed;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}
.credit {
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background-color: hsl(195, 34%, 40%);
  padding: 10px 15px;
  color: #fff;
}
.credit-section a {
  text-decoration: none;
}
