.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 70px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link {
  height: 74px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgb(237, 237, 237);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;
}


/* footer section */
.credit-section {
  font-family: Roboto, arial;
  color: rgb(18, 18, 18);
  background-color: rgb(234, 234, 234);
  position: fixed;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}
.credit {
  font-size: 20px;
  font-weight: 500;
}