p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.price {
  font-size: 32px;
  font-weight: bold;
}

.usd {
  font-size: 17px;
  color: gray;
  font-weight: lighter;
}
.percent {
  color: rgb(2, 101, 2);

}